.row{
    width: 50rem;
    height: 35rem;
   
    border-radius: 50px ;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 12px 26px 0 rgba(0, 0, 0, 0.19);
}

#username,#password{
    border: none;
    border-bottom: solid black 1px;
    width:85%
    
}

h1{
    font-size: 30px;
}

#login_option{
    position: relative;
    bottom: 5px;
}

span:hover{
    color:blue ;
    cursor: pointer;
    
}

#username,#password:focus{
   outline: none;
    
}