    <div class="row mx-auto my-5">
        <div class=" w-50 col  my-auto mx-5">
            <img src="../../assets/signin-image.jpg" alt=""> <br> <br> <br>
            <span class="mx-5 " routerLink="/signup">Create an account</span>
        </div>
    
        <div class="w-50   col my-auto  mx-auto     ">
            <h1><b> Log In </b></h1> <br>
    
            <input type="text" id="username" placeholder="Your Name"> <br> <br>
            <input type="text" id="password" placeholder="Your Password"> <br><br>
    
    
            <input type="checkbox"> &nbsp; &nbsp; &nbsp; <span>Remember me</span> <br> <br>
            <button class="btn btn-primary">Login</button> <br> <br> <br><br><br><br>
    
            <span id="login_option">Or login with</span> &nbsp; &nbsp; <span  (click)="login()"> <i class="fab fa-facebook-square"
                    style="font-size: 28px;"></i> </span>
    
            &nbsp; &nbsp; <span href=""><i class="fab fa-twitter-square" style="font-size: 28px;"></i></span>
            &nbsp; &nbsp; <span  #loginRef><i class="fab fa-google" style="font-size: 28px;"></i></span>
    
    
    
    
    
    
    
    
    
    </div>
</div>


