<nav class="navbar navbar-dark bg-primary mt-3">
  <a class="navbar-brand" href="#">{{questions.data[0].test_name}}</a>
  <countdown class="navbar-brand"  [config]="{leftTime: 10800}"></countdown>


</nav>

<div *ngIf="time_limit" class="container">
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item" >

      <a class="nav-link" routerLink="quiz/phy" >Physics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="quiz/chem">Chemistry</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="quiz/math">Mathematics</a>
    </li>
  </ul>



  <router-outlet></router-outlet>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        Your Time is UP! 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mx-auto">Submit</button>
      </div>
    </div>
  </div>
</div>

