<div class="row no-gutters mx-auto my-5 ">
    <div  class=" w-50 col    my-auto mx-5">
        <img  src="../../assets/signin-image.jpg"  alt=""> <br> <br> <br>
    </div>

        <div class="w-50  col  my-auto       ">
            <h1><b> Sign Up  </b></h1> <br>

            <input type="text" id="username" placeholder="Enter Name" > <br> <br>
            <input type="text" id="email" placeholder="Enter Email" > <br> <br>
            <input  type="text" id="password" placeholder="Enter Password">    <br><br>
            
 
            <button class="btn btn-primary" >Sign Up</button> <br> <br> 
         <span>   Already Having a account ? Log In</span> <br><br><br><br><br>

<span id="login_option" >Or SignUp with</span> &nbsp; &nbsp; <span href=""> <i class="fab fa-facebook-square" style="font-size: 28px;"></i> </span>

                           &nbsp; &nbsp; <span href=""><i class="fab fa-twitter-square" style="font-size: 28px;"></i></span>
                           &nbsp; &nbsp; <span href=""><i class="fab fa-google" style="font-size: 28px;"></i></span>



            
            </div>
         

        


</div>